<!DOCTYPE html>
<html lang="zh-CN" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>字典详情 - iJupiter Trading System</title>
</head>
<body>
<div layout:fragment="content">
                    <div class="container-fluid">
        <h1 class="h3 mb-4">字典详情</h1>
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">编码</dt>
                    <dd class="col-sm-10" th:text="${dictionary.code}"></dd>

                    <dt class="col-sm-2">名称</dt>
                    <dd class="col-sm-10" th:text="${dictionary.name}"></dd>

                    <dt class="col-sm-2">类型</dt>
                    <dd class="col-sm-10" th:text="${dictionary.type}"></dd>

                    <dt class="col-sm-2">描述</dt>
                    <dd class="col-sm-10" th:text="${dictionary.description}"></dd>
                </dl>
                <a href="/system/dictionary" class="btn btn-secondary">返回</a>
            </div>
        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    
    
</body>
</html>
