<!DOCTYPE html>
<html lang="zh-CN" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<head>
    <title>角色详情 - iJupiter Trading System</title>
</head>
<body>
<div layout:fragment="content">
                    <div class="container-fluid">
        <h1 class="h3 mb-4">角色详情</h1>
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">名称</dt>
                    <dd class="col-sm-10" th:text="${role.name}"></dd>

                    <dt class="col-sm-2">编码</dt>
                    <dd class="col-sm-10" th:text="${role.code}"></dd>

                    <dt class="col-sm-2">描述</dt>
                    <dd class="col-sm-10" th:text="${role.description}"></dd>

                    <dt class="col-sm-2">权限</dt>
                    <dd class="col-sm-10">
                        <ul>
                            <li th:each="p : ${role.permissions}" th:text="${p.name}"></li>
                        </ul>
                    </dd>
                </dl>
                <a href="/system/role" class="btn btn-secondary">返回</a>
            </div>
        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    
    
</body>
</html>
