<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{common/base :: layout(
      title = '用户详情',
      css = ~{::css},
      content = ~{::content},
      js = ~{::js}
    )}">

<th:block th:fragment="content">
    <div class="container-fluid">
        <h1 class="h3 mb-4">用户详情</h1>
        <div class="card">
            <div class="card-body">
                <dl class="row">
                    <dt class="col-sm-2">用户名</dt>
                    <dd class="col-sm-10" th:text="${user.username}"></dd>

                    <dt class="col-sm-2">姓名</dt>
                    <dd class="col-sm-10" th:text="${user.name}"></dd>

                    <dt class="col-sm-2">邮箱</dt>
                    <dd class="col-sm-10" th:text="${user.email}"></dd>

                    <dt class="col-sm-2">角色</dt>
                    <dd class="col-sm-10">
                        <ul>
                            <li th:each="r : ${user.roles}" th:text="${r.name}"></li>
                        </ul>
                    </dd>
                </dl>
                <a href="/system/user" class="btn btn-secondary">返回</a>
            </div>
        </div>
    </div>
</th:block>
